.wrapper {
  position: relative;
  overflow: hidden;
}

html[data-theme="dark"] .wrapper {
  background: linear-gradient(180deg, #000000 1.36%, #3a53d7 182.04%);
}

.content {
  position: relative;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 var(--content-h-padding);
  margin: 0 auto;
}