.container {
  --top-left-pattern-color: rgba(58, 83, 215, 0.65);
  --bottom-right-pattern-color: #fff;

  z-index: 2;
}

html[data-theme="dark"] .container {
  --top-left-pattern-color: rgba(134, 151, 234, 0.55);
  --bottom-right-pattern-color: rgba(134, 151, 234, 0.6);
}

.container > * {
  position: absolute;
  width: auto;
}

.top-left-pattern {
  height: 14vh;
  top: 0;
  left: 0;
  color: var(--top-left-pattern-color);
}

.bottom-right-pattern {
  height: 16vh;
  right: 0;
  bottom: 0;
  color: var(--bottom-right-pattern-color);
}

@media screen and (max-width: 550px) {
  .top-left-pattern,
  .bottom-right-pattern {
    display: none;
  }
}
