.header {
    display: grid;
    grid-template-areas: 
    "A A C C C"
    "A A C C C"
    "B B C C C";
}

.header-first-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 55%;
}

.header-text {
    align-self: center;
    grid-area: A;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
}

.button-for-resources {
    grid-area: B;
    background: #324CD4;
    border-radius: 4px;
    width: 320px;
    height: 60px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-for-resources:hover {
    color: white;
    text-decoration: none;
}

.video-wrapper{
    grid-area: C;
    width: 27.5vw;
    height: 15.5vw;
    margin: 75px 35px;
    margin-top: 95px;
}

.video {
    top: -100%;
    position: relative;
}

.rectangle {
    border: 2px dashed #3A53D7;
    width: 100%;
    height: 100%;
    transform: rotate(18.7deg);
    z-index: -1;
    position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 551px) {
    .header-first-columns {
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header {
        max-width: 745px;
        margin: 30px auto;
        grid-template-areas: 
        "A C C C"
        "A C C C"
        "B C C C";
    }

    .header-text {
        font-weight: 600;
        font-size: 35px;
        line-height: 44px;
        align-content: stretch;
    }

    .button-for-resources {
        width: 215px;
        height: 40px;
        font-size: 14px;
    }

    .video-wrapper{
        margin: 45px 20px;
        width: 39vw;
        height: 22vw;
    }
}

@media screen and (max-width: 550px) {
    .header {
        margin-top: 45px;
        grid-template-areas: 
        "A A"
        "C C"
        "C C"
        "B B";
        justify-items: center;
        margin-bottom: 0px;
    }

    .header-first-columns {
        max-width: calc(100vw - 60px);
        margin: 0 auto;
        margin-top: 45px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header-text {
        font-weight: 600;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        align-content: stretch;
        width: 315px;
        height: 130px;
    }

    .button-for-resources {
        width: 315px;
        height: 60px;
        font-size: 16px;
        margin-top: 35px;
    }

    .video-wrapper{
        margin: 45px 30px;
        height: 200px;
        width: 84vw;
        height: 47.25vw;
    }
    
    .video {
        top: -100%;
        position: relative;
    }
    
    .rectangle {
        width: 100%;
        height: 100%;
    }
}