.section {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 75px;
}

@media screen and (max-width: 834px) and (min-width: 551px) {
  .section {
    flex-direction: column;
    max-width: 745px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .section {
    flex-direction: column;
    max-width: auto;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 85px;
  }
}