.features {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media screen and (max-width: 1024px) and (min-width: 551px) {
  .features {
    gap: 35px;
  }
}

@media screen and (max-width: 550px) {
  .features {
    scroll-snap-type: x none;
    overflow-x: auto;
    width: 550px;
    padding: 0 30px;
  }
}

