.fixed-elements {
  display: block;
  overflow: hidden;
}

.ellipse-left {
  position: absolute;
  width: 855px;
  height: 855px;
  left: -225px;
  top: 210px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(150px);
}

.ellipse-top {
  position: absolute;
  width: 800px;
  height: 800px;
  left: 39.6%;
  top: -90px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(117, 52, 255, 0.2442) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(150px);
}

.ellipse-right {
  position: absolute;
  width: 1090px;
  height: 1090px;
  left: 1190px;
  top: 455px;
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.71) 0%, rgba(255, 255, 255, 0) 100%);
  filter: blur(150px);
}

.points-top {
  position: absolute;
  left: -365px;
  top: -20px;
}

.points-bottom {
  position: absolute;
  bottom: -70px;
  right: -135px;
  z-index: -1;
}

html[data-theme='dark'] .ellipse-left {
  position: absolute;
  width: 1345px;
  height: 1345px;
  left: -395px;
  top: -440px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(108, 58, 215, 0.44) 0%, rgba(30, 27, 186, 0) 100%);
  filter: blur(150px);
}

html[data-theme='dark'] .ellipse-right {
  position: absolute;
  width: 1130px;
  height: 1130px;
  left: 1190px;
  top: 455px;
  right: 0;
  background: radial-gradient(50% 50% at 50% 50%, rgba(58, 83, 215, 0.62) 0%, rgba(58, 83, 215, 0) 100%);
  filter: blur(150px);
}

html[data-theme='dark'] .ellipse-top {
  position: absolute;
  width: 560px;
  height: 560px;
  left: 950px;
  top: 20px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(58, 83, 215, 0.62) 0%, rgba(58, 83, 215, 0) 100%);
  filter: blur(150px);
}

@media screen and (max-width: 834px) {
  .ellipse-left {
    position: absolute;
    width: 395px;
    height: 405px;
    left: -170px;
    top: 65px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-top {
    position: absolute;
    width: 420px;
    height: 420px;
    left: 275px;
    top: -90px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(117, 52, 255, 0.2442) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-right {
    position: absolute;
    width: 620px;
    height: 620px;
    left: 440px;
    top: 555px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.71) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }

  .points-top {
    position: absolute;
    width: 410px;
    height: 180px;
    left: -305px;
    top: -115px;
  }
  
  .points-bottom {
    position: absolute;
    left: 625px;
    top: 640px;
    z-index: -1;
  }
}

@media screen and (max-width: 375px) {
  .ellipse-left {
    position: absolute;
    width: 490px;
    height: 490px;
    left: -245px;
    top: -265px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-top {
    position: absolute;
    width: 430px;
    height: 430px;
    left: 75px;
    top: 105px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(117, 52, 255, 0.2442) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-right {
    position: absolute;
    width: 495px;
    height: 495px;
    left: 95px;
    top: 860px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.71) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }

  .points-top {
    position: absolute;
    width: 350px;
    height: 155px;
    left: -295px;
    top: -55px;
  }
  
  .points-bottom {
    position: absolute;
    left: 270px;
    top: 1015px;
    z-index: -1;
  }
}