.ellipse-left {
    position: absolute;
    width: 855px;
    height: 855px;
    left: -225px;
    top: 210px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.41) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-top {
    position: absolute;
    width: 800px;
    height: 800px;
    left: 39.6%;
    top: -90px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(117, 52, 255, 0.2442) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-right {
    position: absolute;
    width: 1090px;
    height: 1090px;
    left: 1190px;
    top: 455px;
    z-index: -1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(138, 157, 255, 0.71) 0%, rgba(255, 255, 255, 0) 100%);
    filter: blur(150px);
  }
  
  .ellipse-right-owner {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -2;
    overflow: hidden;
  }
  
  .points-top {
    position: absolute;
    left: -365px;
    top: -20px;
  }
  
  .points-bottom {
    position: absolute;
    bottom: -70px;
    right: -135px;
    z-index: -1;
  }
  
  html[data-theme='dark'] .ellipse-left {
    position: absolute;
    width: 1345px;
    height: 1345px;
    left: -395px;
    top: -440px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(108, 58, 215, 0.44) 0%, rgba(30, 27, 186, 0) 100%);
    filter: blur(150px);
  }
  
  html[data-theme='dark'] .ellipse-right {
    position: absolute;
    width: 1130px;
    height: 1130px;
    left: 1190px;
    top: 455px;
    right: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(58, 83, 215, 0.62) 0%, rgba(58, 83, 215, 0) 100%);
    filter: blur(150px);
  }
  
  html[data-theme='dark'] .ellipse-top {
    position: absolute;
    width: 560px;
    height: 560px;
    left: 950px;
    top: 20px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(58, 83, 215, 0.62) 0%, rgba(58, 83, 215, 0) 100%);
    filter: blur(150px);
  }