.navbar__inner{
  max-width: 1320px;
  margin: 0 auto;
}

.selected-text {
  color: #3A53D7
}

html[data-theme='dark'] .selected-text {
  color: #8697EA
}

.navbar{
  height: 80px;
}

.navbar__logo{
  height: 42px;
}

html[data-theme='dark'] {
  background: linear-gradient(171.7deg, #000000 1.35%, #3A53D7 182%);
}

html[data-theme='dark'] .docs-doc-page {
  background: linear-gradient(90deg, #000000 1.35%, #3A53D7 182%);
}

html[data-theme='dark'] .navbar{
  background: url("/static/img/navbar.svg") right, #000000;
}

.nav-first-item {
  margin-left: 135px;
}

.nav-other-item {
  margin-left: 20px;
}

.footer--dark {
  --ifm-footer-background-color: #222222;
}

.footer {
  height: 280px;
  padding-top: 50px;
  background: #262626;
}

.footer-social-networks {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-left: 100px;
}

.mail-info {
  font-size: 17px;
  color: white;
}

.number {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  margin-left: 100px;
}

.footer-link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
}

.footer-link-image {
  margin-right: 20px;
}

.footer__items li {
  height: 40px;
}

.main-wrapper {
  overflow: hidden;
}

@media screen and (max-width: 375px) {
  .footer__col:nth-child(2), .footer__col:nth-child(3){
    display: none;
  }

  .row .col {
    padding: 0;
  }

  .mail-info {
    font-size: 16px;
  }

  .number {
    font-size: 16px;
    line-height: 155%;
    margin-left: 0;
  }
  
  .footer__items li {
    height: 25px;
  }

  .footer-social-networks {
    position: absolute;
    right: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 115px;
    margin-left: 0px;
  }

  .footer-social-networks a {
    width: 30px;
    height: 30px;
  }

  .footer__col {
    margin-bottom: 25px;
  }

  .footer {
    height: 250px;
    padding: 30px;
  }
}