.footer--dark {
    --ifm-footer-background-color: #222222;
  }
  
  .footer {
    height: 280px;
    padding-top: 50px;
    background: #262626;
  }
  
  .footer-social-networks {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 155px;
    margin-left: 100px;
  }
  
  .mail-info {
    font-size: 17px;
    color: white;
  }
  
  .number {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 200%;
    margin-left: 100px;
  }
  
  .footer-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 185%;
  }
  
  .footer-link-image {
    margin-right: 20px;
  }
  
  .footer__items li {
    height: 40px;
  }

  @media screen and (max-width: 996px) and (min-width: 376px)  {
    .row .col.col.col {
      flex-basis: 0;
      margin-bottom: 0;
    }
    
    .footer-link {
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 185%;
    }
  
    .footer-link-image {
      width: 13px;
      height: 13px;
      margin-right: 10px;
    }
  
    .footer__items li {
      height: 30px;
    }
  
    .mail-info {
      font-weight: 400;
      font-size: 12px;
      line-height: 155%;
    }
  
    .number {
      font-size: 14px;
      line-height: 200%;
      margin-left: 0;
      justify-self: right;
    }
  
    .footer-social-networks {
      width: 115px;
      height: 30px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  
    .footer {
      height: 210px;
      
      /* padding: 45px; */
      background: #222222;
    }
  
    .footer-social-networks a {
      width: 30px;
      height: 30px;
    }
  
    .footer__link-item {
      font-weight: 400;
      font-size: 12px;
      line-height: 200%;
    }
  
    .footer .container {
      max-width: 780px;
      margin: 0 auto;
    }
}

@media screen and (max-width: 375px) {
    .row .col.col.col {
      flex-basis: 100%;
    }
  
    .footer__col:nth-child(2), .footer__col:nth-child(3){
      display: none;
    }
  
    .row .col {
      padding: 0;
    }
  
    .mail-info {
      font-size: 16px;
    }
  
    .number {
      font-size: 16px;
      line-height: 155%;
      margin-left: 0;
    }
    
    .footer__items li {
      height: 25px;
    }
  
    .footer-social-networks {
      position: relative;
      left: 200px;
      bottom: 55px;
      margin: 0;
      display: flex;
      justify-content: space-between;
      width: 115px;
    }
  
    .footer__item:nth-child(3) {
      margin-top: 10px;
    }
  
    .footer-social-networks a {
      width: 30px;
      height: 30px;
    }
  
    .footer__col {
      margin-bottom: 25px;
    }
  
    .footer {
      height: 250px;
      padding: 30px;
    }
}