/* TODO: поправить, что иконки заданы как `background` + улучшить адаптив, такое невозможно нормально настраивать */

.footer-social-networks a {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.footer-social-networks a:hover {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.footer {
  padding-top: 65px;
  background: #262626;
}

.footer-social-networks {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  width: 155px;
  margin-left: 100px;
}

.vk-footer {
  background: url("/static/img/vk.svg") no-repeat;
}

.vk-footer:hover {
  background: url("/static/img/vk-hover.svg") no-repeat;
}

.youtube-footer {
  background: url("/static/img/youtube-footer.svg") no-repeat;
}

.youtube-footer:hover {
  background: url("/static/img/youtube-hover.svg") no-repeat;
}

.tg-footer {
  background: url("/static/img/tg-footer.svg") no-repeat;
}

.tg-footer:hover {
  opacity: 0.75;
}

.ig-footer {
  display: none;
  background: url("/static/img/ig-footer.svg") no-repeat;
}

.ig-footer:hover {
  background: url("/static/img/ig-hover.svg") no-repeat;
}

.mail-info {
  font-size: 17px;
  color: white;
}

.phone-number {
  color: white;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  margin-left: 100px;
}

.footer-link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 185%;
  white-space: nowrap;
}

.footer-link-image {
  margin-right: 20px;
}

.footer__link-item {
  white-space: nowrap;
}

.footer__items li {
  height: 40px;
}

.footer__title {
  display: none;
}

@media screen and (max-width: 1340px) and (min-width: 551px) {
  .footer-link {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 185%;
  }

  .footer-link-image {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }

  .footer__items li {
    height: 30px;
  }

  .mail-info {
    font-weight: 400;
    font-size: 12px;
    line-height: 155%;
  }

  .phone-number {
    font-size: 14px;
    line-height: 200%;
    margin-left: 0;
    justify-self: right;
  }

  .footer-social-networks {
    width: 115px;
    height: 30px;
    margin: 0;
    margin-top: 15px;
  }

  .footer-social-networks a {
    width: 30px;
    height: 30px;
    background-size: cover;
  }

  .footer-social-networks a:hover {
    width: 30px;
    height: 30px;
    background-size: cover;
  }

  .footer .container {
    max-width: 780px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550.9999px) {
  .footer {
    height: auto;
    padding: 40px 30px 0 30px;
  }

  .mail-info {
    font-size: 16px;
  }

  .phone-number {
    font-size: 16px;
    line-height: 155%;
    margin-left: 0;
  }

  .footer__items li {
    text-align: start;
    height: auto;
  }

  .footer-social-networks {
    margin: 15px 0 0 0;
    width: auto;
  }

  .footer-social-networks a {
    width: 30px;
    height: 30px;
    background-size: cover;
  }

  .footer-social-networks a:hover {
    width: 30px;
    height: 30px;
    background-size: cover;
  }

  .footer__col:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer__col:last-child {
    margin-bottom: 0;
  }
}
