.selected-text {
  color: #3A53D7
}

html[data-theme='dark'] .selected-text {
  color: #8697EA
}

html[data-theme='dark'] {
  background: linear-gradient(171.7deg, #000000 1.35%, #3A53D7 182%);
}

html[data-theme='dark'] .docs-doc-page {
  background: linear-gradient(90deg, #000000 1.35%, #3A53D7 182%);
}

.navbar-sidebar__back {
  display: none;
}

.main-wrapper {
  overflow: hidden;
  position: relative
}

@media screen and (max-width: 834px) and (min-width: 376px)  {
  
}

@media screen and (max-width: 375px) {
  .docs-doc-page {
    max-width: 315px;
    margin: 0 auto;
  }

  html[data-theme='dark'] {
    background: linear-gradient(90deg, #000000 1.5%, #3A53D7 155%), #FFFFFF;
  }
}